@model WebStore.Models.NguoiDungDTO

@{
    ViewData["Title"] = "DetailAccount";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<h1>DetailAccount</h1>

<div>
    <h4>Account</h4>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            @if (Model.UserRole == "staff" || Model.UserRole == "admin")
            {
                <p><strong>Chức vụ:</strong> @Model.ChucVu</p>
            }
        </div>
 
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </div>
        <div class="col-sm-10">
            @if (Model.Gender == 1)
            {
                @:Nam
            }
            else
            {
                @:Nữ
            }
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeRole)
        </div>
        <div class="col-sm-10">
             @if (Model.UserRole == "admin")
             {
                 @:Nhân viên
             }
             else if (Model.UserRole == "staff")
             {
                 @:Nhân viên
             }
             else if (Model.UserRole == "customer")
             {
                 @:Khách hàng
             }


          

        </div>


    </div>
</div>
<div>
    @Html.ActionLink("Edit", "EditAccount", new { id = Model.UserName }) |
    <a asp-action="ManagerAccount">Back to List</a>
</div>
