@model IEnumerable<WebStore.Models.NhaXuatBanDTO>

@{
    ViewData["Title"] = "Quản lý nhà xuât bản";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<h1>Quản lý nhà xuất bản</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoDienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoDienThoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditPublisher", new { id = item.IdNXB }) |
                    @Html.ActionLink("Details", "DetailPublisher", new { id = item.IdNXB }) |
                    @Html.ActionLink("Delete", "DeletePublisher", new { id = item.IdNXB })
                </td>
            </tr>
        }
    </tbody>
</table>
