@model IEnumerable<WebStore.Models.HoaDonDTO>

@{
    ViewData["Title"] = "ManagerOrder";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<h1>ManagerOrder</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Mã đơn hàng 
            </th>

            <th>
                Email khách hàng
            </th>
            <th>
                Tổng tiền 
            </th>
            <th>
                Phương thức thanh toán
            </th>
            <th>
                Trạng thái thanh toán
            </th>
            <th>Cập nhật trạng thái</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a href="@Url.Action("DetailOrder", "QuanLy", new { id = item.Id })">
                    @Html.DisplayFor(modelItem => item.Id)
                </a>
            </td>
       
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
                @{
                    string paymentMethodDisplay = "";
                    switch (item.PhuongThucTT)
                    {
                        case "TheTinDung":
                            paymentMethodDisplay = "Thẻ tín dụng";
                            break;
                        case "ChuyenKhoan":
                            paymentMethodDisplay = "Chuyển khoản";
                            break;
                        case "TienMat":
                            paymentMethodDisplay = "Tiền mặt";
                            break;
                        case "TheMomo":
                            paymentMethodDisplay = "Thẻ Momo";
                            break;
                        default:
                            paymentMethodDisplay = "Không xác định";
                            break;
                    }
                }
                <td>
                    @paymentMethodDisplay
                </td>
                <td>
                    @item.TrangThaiTT
                </td>


            <th>
                @Html.ActionLink("Complete", "InfoOrderComplete", new { id = item.Id }) |
                    @Html.ActionLink("Incomplete", "InfoOrderIncomplete", new { id = item.Id })
            </th>
            <th>
                    @Html.ActionLink("Edit", "EditOrder", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteOrder", new { id = item.Id })
            </th>
        </tr>
}
    </tbody>
</table>
