@using WebStore.Models
@model dynamic

@{
    ViewData["Title"] = "Index";
}

<h1>Quản lý tài khoản</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                UserName
            </th>
            <th>
                Passwork
            </th>
            <th>
                FullName
            </th>
            <th>
                Age
            </th>
            <th>
                Gender
            </th>
            <th>
                Address
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th>
                Authority
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.account)
        {
            <tr>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.Password
                </td>
                <td>
                    @item.FullName
                </td>
                <td>
                    @item.Age
                </td>
                <td>
                    @item.Gender
                </td>
                <td>
                    @item.Address
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.Phone
                </td>
                <td>
                    @item.Authority
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
