<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@


    <!-- Thêm CSS cho Select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

    <!-- Thêm JS cho Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />


    <noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>

</head>
<body class="is-preload">
    <div id="wrapper">
        <header id="header">
            <div class="inner">

                <!-- Logo -->
                <a href="@Url.Action("Index", "Home")" class="logo">
                    <span class="fa fa-book"></span> <span class="title">Book Online Store Website</span>
                </a>

                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>

            </div>
        </header>
        <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <h4>@User.Identity.Name</h4>
            <ul>
                <li><a asp-action="Index" asp-controller="Home" class="active">Home</a></li>

                <li><a href="@Url.Action("Index", "QuanLy")">Manager</a></li>

                <li><a href="@Url.Action("Logout", "Account")">Logout</a></li>

            </ul>
        </nav>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer id="footer">
            <div class="inner">
                <ul class="copyright">
                    <li>Copyright © 2024 Book Online Store </li>
                    <li>Template by: PHPJabbers.com</li>
                </ul>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/jquery.scrolly.min.js"></script>
    <script src="~/js/jquery.scrollex.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <!-- ... other head tags ... -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script> <!-- Link to jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- ... other head tags ... -->


    @RenderSection("Scripts", required: false)
</body>
</html>
